.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
.react-calendar-heatmap .color-scale-5 { fill: #e66f06; }
.react-calendar-heatmap .color-scale-6 { fill: #ff8400; }
.react-calendar-heatmap .color-scale-7 { fill: #f51a1a; }
h1.grid-heading { text-align: center; font-family: 'Montserrat', sans-serif; }